@import "tailwindcss";

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
}

body{
    background: #030303;
    color: #fff;
    font-family: "DM Sans", sans-serif;
}


.bg-primary{
  background: #2BFFC3;
}
.text-primary{
  color: #2BFFC3;
}
.border-primary{
  color: #2BFFC3;
}
button{
  cursor: pointer;
}
