@import "tailwindcss";

*{
  box-sizing: border-box;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
}
.font-dm{
  font-family: "DM Sans", sans-serif;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
}

body{
    background: #030303;
    color: #fff;
    font-family: "Inter", sans-serif;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}

.bg-primary{
  background: #2BFFC3;
}
.text-primary{
  color: #2BFFC3;
}
.border-primary{
  color: #2BFFC3;
}
button{
  cursor: pointer;
}
